.product-details-page.page {
  .product-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    gap: 1rem;
    .product-image,
    .product-meta {
      flex: 1;
    }
  }
}
