@import "./mixins";
.img {
  display: inline-block;

  &-800x400 {
    width: 800px;
    height: 400px;
    background-image: linear-gradient(hotpink, tomato);

    &.red {
      background-image: linear-gradient(hotpink, red);
    }

    &.yellow {
      background-image: linear-gradient(hotpink, yellow);
    }

    &.green {
      background-image: linear-gradient(hotpink, green);
    }
    &.blue {
      background-image: linear-gradient(hotpink, blue);
    }
  }
}
